/*uso de los colores en css3 con hsl*/
.hsl{
    color:deepskyblue;
    background-color: hsl(38, 65%, 53%);
}
/*uso de los colores en css3 con hsla*/
.hsla{
    color:aqua;
    background-color: hsla( 355,100%,50%,0.5);
}
/*uso de colores en css3 con rgb*/
.rgb{
    color:green;
    background-color: rgb(241,54,19);
}
/* uso de los colores en css3 con rgba*/
.rgba{
    color: blueviolet;
    background-color: rgba(255, 200, 81, 0.1);
}
/*bode con colores*/
.border{
    border: 5px solid rgba(175, 73, 87,0.88);
}
/*titulos y cuerpo de la pagina */
h1{
    color: aliceblue;
}

body{
    color: black;
    background-color: black;
}